<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Note</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/images/logo-01.png}" alt="" width="60" height="68"
				class="d-inline-block align-text-center"> Mediascreen
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarToggler" aria-controls="navbarToggler"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="http://localhost:8081/patient/list">Patients</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/patient/list">Notes</a></li>
					<li class="nav-item"><a class="nav-link" href="http://localhost:8080/patient/list">Reports</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container col-md-12 mb-2">
		<div class="row">
			<form action="#" th:action="@{/note/save/{patientId}(patientId=${patientNote.patientId})}" method="post" class="form-horizontal" style="width: 100%">
				<div class="form-group">
					<label for="patientId" class="col-sm-2 control-label">Patient ID</label>
					<div class="col-sm-12">
						<input type="text" th:field="*{patientNote.patientId}" id="patientId" placeholder="Patient ID" class="col-4" readonly="true">
						<!--<p class="text-danger" th:if="${#fields.hasErrors('patientNote.patientId')}" th:errors="*{patientNote.patientId}"></p>-->
					</div>
				</div>
				<div class="form-group">
					<label for="note" class="col-sm-2 control-label">Note</label>
					<div class="col-sm-12">
						<textarea input type="text" th:field="*{note.note}" id="note" placeholder="Add note for patient." class="col-4" rows="6"></textarea>
						<!--<p class="text-danger" th:if="${#fields.hasErrors('note.note')}" th:errors="*{note.note}"></p>-->
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						<input class="btn btn-success btn-sm" type="submit" value="Save">
						<a th:href="@{'/note/list/' + ${patientId}}" class="btn btn-success btn-sm">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>